/* Begin CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* End CSS Reset */

body {
	line-height: 1;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/* End CSS Reset */

html {
	-webkit-font-smoothing: antialiased;
}

body {
	text-align: center;
	margin: auto;
	padding: 0;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #000;
	padding-top: 100px;
	background: white;
}

input {
	font: inherit;
	width: 166px;
	margin-left: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
	height: 26px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

input:focus {
	border: none;
	outline: none;
	background: #fff;
	
}

#top, #bottom {
	display: block;
	width: 247px;
	margin: auto;
	padding-top: 11px;
	padding-bottom: 11px;

}

#bottom {
	background-color: #5b698e;
}

#top {
	background-color: #5b8f9b;
}

.left {
	display: block;
	position: relative;
	width: 34px;
	height: 34px;
	background-color: #e5e5e5;
	float: left;
	padding: 0;
	margin: 0;
	left: 16px;
	top: 5px;
	border-right: 1px solid #CECECE;
}

#go {
	cursor: pointer;
	height: 34px;
	width: 34px;
	padding: 0;
	margin: 0;
	background: #DDBC55 url(arrow.jpg) no-repeat 14px 13px;
	border : none;
	color : transparent;
}

.sprite2 {
	height: 17px;
	width: 17px;
	background: url(sprites.jpg) no-repeat 0 0;
	margin-top: 9px;
	margin-left: 9px;
}

.sprite3 {
	height: 17px;
	width: 9px;
	background: url(sprites.jpg) no-repeat -17px 0;
	margin-top: 9px;
	margin-left: 13px;
}

.sprite4 {
	height: 17px;
	width: 15px;
	background: url(sprites.jpg) no-repeat -26px 0;
	margin-top: 9px;
	margin-left: 10px;
}

.sprite5 {
	height: 17px;
	width: 11px;
	background: url(sprites.jpg) no-repeat -41px 0;
	margin-top: 9px;
	margin-left: 12px;
}

#infobutton {
	display: block;
	cursor: pointer;
	height: 16px;
	width: 16px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: url(sprites.jpg) -52px 0;
}

#description {
	position: absolute;
	bottom: 32px;
	right: 32px;
	background: #fff;
	font: inherit;
	width: 180px;
	text-align: right;
	color: #130E16;
	padding: 12px;
}

a, a:hover, a:visited, a:active {
	color: #271D2E;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}